
html { font-family: sans-serif; background: rgb(241, 202, 202); padding: 5rem; }
body { max-width: 960px; margin: 0 auto; background: rgb(252, 228, 150); border-radius: 1rem; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
p { padding: 2rem;}
form { padding-left: 2em; padding-bottom: 20px;}